/* General */

@import url(https://fonts.googleapis.com/css2?family=Salsa&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap);

html{
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

/*small screen */
@media screen and (max-width: 992px){
    #preloader p {
        font-size: 1rem;
        text-align: center;
    }
    
    .sidepanel-left ul{
        margin-top: 1rem ;
        margin-left: 1.5rem;
    }

    .sidepanel-left li>a{
        font-size: 2rem;
    }

    .sidepanel-menu-close p{
        font-size: 1.5rem;
    }

    .imgCartoonDescri{
        height: 200px;
    }

    .descrbanner{
        font-size: 1rem;
        font-weight: 500;
    }
    
    .projectsmarquee{
        font-size: 3rem;
    }
    
    .bannertitle{
        font-size: 1.5rem;
    }

    .bannerbg{
        width: 10rem;
        height: 5rem;
        margin-left: -5rem;
    
    }
    
    .textb{
        margin-top: -3.5rem;
        width: 10rem;
    }

    .webdevprojectlist{
        display: flex;
        flex-direction: column;
    }

    .wdprojbox{
        height: 65vw ;
    }


}

/*Medium Screen */
@media only screen and (min-width: 600px) {
    #preloader p {
        font-size: 2rem;
        text-align: center;
    }

    .bannertitle{
        font-size: 3rem;
    }

    .bannerbg{
        width: 25rem;
        height: 15rem;
        margin-left: -10rem;
    }
    
    .textb{
        margin-top: -13.5rem;
        width: 23rem;
    }

    .wdprojbox{
        height: 45vw ;
    }

}

/*large screen */
@media screen and (min-width: 992px){
    #preloader p {
        font-size: 2.5rem;
        text-align: center;
    }

    .sidepanel-left ul{
        margin-top: 4.1rem;
        margin-left: 7.48rem;
    }

    .sidepanel-left li>a{
        font-size: 2.5rem;
    }

    .imgCartoonDescri{
        height: 450px;
    }

    .descrbanner{
        font-size: 2.5rem;
        font-weight: 500;
    }

    .projectsmarquee{
        font-size: 5rem;
    }

    .bannertitle{
        font-size: 4rem;
    }

    .bannerbg{
        width: 30rem;
        height: 20rem;
        margin-left: -17rem;
    
    }
    
    .textb{
        margin-top: -16.5rem;
        width: 25rem;
    }

    .webdevprojectlist{
        display: flex;
    }

    .wdprojbox{
        height: 25vw ;
    }

}

*{
    margin: 0px;
    font-family: 'Exo';
    border: border-box;
}

a{
    text-decoration: none;
}

/* -----------------------------------------------------------
Preloader
-----------------------------------------------------------*/
#preloader    {
    position: fixed;
    top: 0;
    z-index: 5000;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#AF9EE6,#d0c6f3);
}

#preloader p {
    font-weight: 400;
    font-family: Salsa;
    animation: fadeInRight ease-in 1s;
    animation-iteration-count: 1;
}

@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
    transition-delay: 2s;
}

.dot-stretching {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #000000;
    color: #000000;
    transform: scale(1.25, 1.25);
    animation: dot-stretching 2s infinite ease-in;
}

.dot-stretching::before, .dot-stretching::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-stretching::before {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #000000;
    color: #000000;
    animation: dot-stretching-before 2s infinite ease-in;
}

.dot-stretching::after {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #000000;
    color: #000000;
    animation: dot-stretching-after 2s infinite ease-in;
}
  
@keyframes dot-stretching {
    0% {
      transform: scale(1.25, 1.25);
    }
    50%, 60% {
      transform: scale(0.8, 0.8);
    }
    100% {
      transform: scale(1.25, 1.25);
    }
}

@keyframes dot-stretching-before {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%, 60% {
      transform: translate(-20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
}

@keyframes dot-stretching-after {
    0% {
      transform: translate(0) scale(0.7, 0.7);
    }
    50%, 60% {
      transform: translate(20px) scale(1, 1);
    }
    100% {
      transform: translate(0) scale(0.7, 0.7);
    }
}


.header{
    background-color: #ffdcc6;
    border-bottom: black 4px solid;
}

/* -----------------------------------------------------------
Sidepanel
-----------------------------------------------------------*/

.sidepanel {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}


/* The sidepanel menu */
.sidepanel-content{
    height: 100%;
}

.sidepanel-right{
    background-color: #ffffff;
}

.sidepanel-left{
    background-color: #ffdcc6;
    border-right: 2px solid black ;
}

.sidepanel-left ul{
    list-style-type: none;
    padding-left:0;
}

.sidepanel-left li>a{
    text-decoration: none;
    color: #3d3d3d;
}

.sidepanel-right a{
    margin-top: 2rem;
}


/* Position and style the close button (top right corner) */
.sidepanel-right a{
    text-decoration: none;
    color: #3d3d3d;
}

.sidepanel-right a:hover{
    text-decoration: none;
    color: #3d3d3d;
}

.sidepanel-menu-close{
    font-size: 1.5rem;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 1.5rem;
    border: none;
    background-color: #ffdcc6;
}

.bold{
    font-weight: 600;
}


/* -----------------------------------------------------------
Main Content
-----------------------------------------------------------*/
.picdescr{
    width: 100%;
    margin-top: 6rem;
    padding: 2rem;
    /*
    background-color: #b9b6dc;*/
    background-color: #e2ddf4;
}

.imgCartoonDescri{
    background-size: contain;
}

.bannertext{
    padding: 0 5rem;
}

.bannerimg{
    width: 100%;
    z-index: 20;
}


.bannerbg{
    position: relative;
    z-index: 0;
    /*background-color: #8F76C7;*/
    background-color: #ab96db;
    opacity: 80%;
}

.projects:hover .bannerbg{
    background-color: #ab96db;
    opacity: 100%;
}

.textb{
    position: absolute;
    z-index: 100;
    color: #000000;
}

#webdevproj{
    padding-top: 9rem;
}

.wdprojbox{
    border: none;
}
.wdprojbox:hover{
    border: #000000 solid 3px;
}

.godrej{
    background-image: url("./WebDev/godrej.png");
    background-color: #5fa2d8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spotify{
    background-image: url("./WebDev/spotify.png");
    background-color: #64e08f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.amazon{
    background-image: url("./WebDev/amazon.png");
    background-color: #edb265;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Digital Art Grid */
.imgDigArt{
    width: 100%;
}

/*---------------------------------------------
FOOTER
---------------------------------------------*/
footer{
    background-color: #ffdcc6;
    border-top: black 4px solid;
}

.footerUpper{
    /*background-color: #e96c1f;*/
    background-color: #ffdcc6;
}

.footerLower{
    background-color: #ffc099;
}

.socialLink a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.socialLink a:hover{
    text-decoration: none;
    color: #000000;
    font-weight: 620;
}
